module.exports = {
    // WARNING: do not supply the client secret here! This code is sent to the browser.
    oauthClientId: 'myapp',           // fill in your own client id
    provider: 'somtoday',             // can also be 'parnassys'
    idp: 'https://idp-acceptatie.wise-r.nl',
    sso_pub_key: require('./acceptatie.wise-r.nl.pem'),
    backend: 'http://localhost:8888'
};